<%- include("partials/header.ejs") %>
    <img class="adminPhoto" src="images/pritika.jpg" alt="pritika giri photo">
    <div class="description">
        <caption class="imageName">Pritika Giri</caption>

        <p class="about">Hello! 👋 I'm a beginner web developer currently learning Node.js, Express, and EJS. I created this blog as part of my journey to becoming a full-stack developer.This blog is where I share my learning experiences, small projects, and tutorials about web development and programming. Topics include JavaScript, backend basics, and frontend experiments.I started this blog to stay motivated and to help other beginners who are learning to code. Everything here is written in a way that I wish I had when I started out.In the future, I plan to expand the blog with more in-depth articles, real-world projects, and maybe even video tutorials.
        <p class="about">Thanks for visiting! If you'd like to connect, feel free to check out my <a href="https://github.com/yourusername" target="_blank">GitHub</a> or <a href="mailto:youremail@example.com">email me</a>.</p>

    </div>
<%- include("partials/footer.ejs") %>