<%- include("partials/header.ejs") %>
<div>
    <form action="/create" method="POST">
         <button class="submitButtons">Create New post</button><br>
         <button class="submitButtons"> Edit post</button><br>
         <button class="submitButtons">Delete post</button><br>

    </form>
</div>

<%- include("partials/footer.ejs") %>