<%- include("partials/header.ejs") %>
    <h1 class="heading">Welcome to <span class="title">Bits & Logics</span> blog</h1>
    <h2>Recent posts</h2>
    <a href="/"> <button>Create New post</button></a>
   

<%- include("partials/footer.ejs") %>